<button
          type="button"
          id="host-event-btn"
          data-bs-toggle="modal"
          data-bs-target="#eventModal"
        >Host an event</button>

{{!-- Host an Event Modal --}}
<div
  class="modal fade"
  id="eventModal"
  tabindex="-1"
  aria-labelledby="eventModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">Host an event</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
        <form action="/events/create" method="POST">
      <div class="modal-body">
          <label for="name">Name</label>
          <input type="text" name="name" />
          <br />
          <label for="movieRelatedTo">Movie related</label>
          <select name="movieRelatedTo" >
              {{#each movies}}
              <option value="{{this._id}}">{{this.title}}</option>
              {{/each}}
          </select>
          <br>
          <label for="date">Date</label>
          <input type="datetime-local" name="date" />
          <br />
          <label for="description">Description</label>
          <textarea name="description" cols="30" rows="10"></textarea>
          <br />
          <input type="hidden" name="host" value="{{movies.0.user}}" />
          <input type="hidden" name="atendees" value="{{movies.0.user}}" />
          <br />
          <label for="link">Link for the online event</label>
          <input type="text" name="link" />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="events-container">
{{#each events}}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{this.movieRelatedTo.image}}" class="img-fluid rounded-start" alt="{{this.movieRelatedTo.title}}'s poster">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{this.name}}</h4>
        <p class="card-text"><small class="text-muted">{{this.date}}</small></p>
        <p class="card-text">{{this.description}}</p>
        {{#if this.link}}
        <p class="card-text event-link"><a href="#" class="card-link">Link to the event</a></p>
        {{/if}}
        {{#ifEquals this.atendees.length 1}}
        <p class="card-text event-atendees">{{this.atendees.length}} user is attending</p>
        {{else}}
        <p class="card-text event-atendees">{{this.atendees.length}} users are attending</p>
        {{/ifEquals}}
        <form
              action="/events/attend"
              method="POST"
              id="attend-event-form"
              class="mb-3"
            >
              <button type="submit" class="btn btn-secondary add-btn">Attend</button>
            </form>
      </div>
    </div>
  </div>
</div>
{{/each}}
</div>