<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FilMate</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    {{#if cookie}}
      <nav class="nav-2">
        <a href="/"><img
            src="/images/filmate-logo.png"
            alt="FilMate logo"
            width="100"
          /></a>
        <div class="nav-links">
          <a href="/profile">Profile</a>
          <a href="/movie-list">Movies</a>
          <a href="/random-movie">Random Movie</a>
          <a href="/events">Events</a>
        </div>
        <div class="nav-user-info">
          <img
            src="{{loggedInUser.profilePic}}"
            alt="User's profile picture"
            width="40"
            id="profile-pic"
          />
          <h4>{{loggedInUser.username}}</h4>
          <form action="/logout" method="POST">
            <button id="logout-btn" type="submit">Log Out</button>
          </form>
        </div>
      </nav>
    {{else}}
      <nav class="nav-1">
        <a href="/"><img
            src="/images/filmate-logo.png"
            alt="FilMate logo"
            width="100"
          /></a>
        <div>
          <button
            type="button"
            id="login-btn"
            data-bs-toggle="modal"
            data-bs-target="#logInModal"
          >Log In</button>
          <p id="log-in-error">{{logInErr}}</p>
        </div>
      </nav>
    {{/if}}

    {{{body}}}

    <footer
      class="text-center text-lg-start"
      style="background-color: #191505;"
    >
      <img
        class="movie-database"
        src="/images/TMDB-logo-1.jpg"
        alt="FilMate logo"
        width="100"
      />
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.socket.io/4.1.2/socket.io.min.js"
      integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
      crossorigin="anonymous"
    ></script>
    <script src="/js/chat.js"></script>
    <script src="/js/script.js"></script>
  </body>

</html>