<h1>Here's your private profile</h1>

<!-- Modal -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Your Movies</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
      <tr>
        <th scope="row"><img
            src="{{this.image}}"
            alt="{{this.title}} poster"
            width="100"
          /></th>
        <td>{{this.title}}</td>
        <td>
    {{/each}}
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Your interests</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
      <tr>
        <th scope="row"><img
            src="{{this.image}}"
            alt="{{this.title}} poster"
            width="100"
          /></th>
        <td>{{this.title}}</td>
        <td>
    {{/each}}
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Your friends</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
      <tr>
        <th scope="row"><img
            src="{{this.image}}"
            alt="{{this.title}} poster"
            width="100"
          /></th>
        <td>{{this.title}}</td>
        <td>
    {{/each}}
  </tbody>
</table>

<!--{{#each movies}}
  <p>{{this.title}}</p>
{{/each}}

<p>{{interests}}</p>-->