<h1>Here's your private profile</h1>

<!-- Modal -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Your Movies</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
      <tr>
        <th scope="row"><img
            src="{{this.image}}"
            alt="{{this.title}} poster"
            width="100"
          /></th>
        <td>{{this.title}}</td>
        <td>
    {{/each}}
  </tbody>
</table>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Your interests</th>
    </tr>
  </thead>
  <tbody>
    {{#each interest}}
      <tr>
        <td>{{this.activity}}</td>
        <td>
          <form action="/profile/delete" method="POST" id="delete-form">
          <input type="hidden" name="activity" value="{{this._id}}">
          <button type="submit"  class="btn btn-secondary" >Delete</button>
          </form>
          </td> 
    {{/each}}
    <br>
    <tr>
      <form action="/profile/create" method="POST" id="activity-form">
        <label for="activity">Add your interests here</label>
        <input type="text" name="activity" ></input>

        <button type="submit">submit</button>
      </form>
  </tbody>
</table>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Your friends</th>
    </tr>
  </thead>
  <tbody>
    {{#each following}}
      <tr>
        <td>{{this}}</td>
    {{/each}}
  </tbody>
</table>

