<h1>Here's your private profile</h1>

<!-- Modal -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Your Movies</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
      <tr>
        <th scope="row"><img
            src="{{this.image}}"
            alt="{{this.title}} poster"
            width="100"
          /></th>
        <td>{{this.title}}</td>
        <td>
    {{/each}}
  </tbody>
</table>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Your interests</th>
    </tr>
  </thead>
  <tbody>
    {{#each interests}}
      <tr>
        <td>{{this}}</td>
        <td><button type="submit"  class="btn btn-secondary" form="interests-form" name="outInterest">Delete</button></td> 
    {{/each}}
    <br>
    <tr>
      <form action="/profile" method="POST" id="interests-form">
        <label for="interest">Add your interests here</label>
        <input type="text" name="inInterest" ></input>

        <button type="submit" name="inInterest">submit</button>
      </form>
    </tr>
  </tbody>
</table>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Your friends</th>
    </tr>
  </thead>
  <tbody>
    {{#each following}}
      <tr>
        <td>{{this}}</td>
    {{/each}}
  </tbody>
</table>

<!--{{#each movies}}
  <p>{{this.title}}</p>
{{/each}}

<p>{{interests}}</p>-->