<div id="movie-detail-view">
<div id="movie-details-left-wing">
  <h3 class="movie-titles">More about this movie</h3>
  <div id="movie-details-left-wing-container">
  <div id="movie-detail-img">
  {{#if movieFromApi.poster_path}}
    <img
      src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{movieFromApi.poster_path}}"
      alt="{{movieFromApi.title}}'s poster"
    />
  {{/if}}
  </div>
  <div id="movie-detail-details">
  <h3><strong>{{movieFromApi.title}}</strong></h3>
  {{#if movieFromApi.tagline}}
    <h5><strong>Tagline:</strong> {{movieFromApi.tagline}}</h5>
  {{/if}}
  <h6><strong>Genre:</strong></h6>
  <ul>
    {{#each movieFromApi.genres}}
      <li>{{this.name}}</li>
    {{/each}}
  </ul>
  {{#if movieFromApi.overview}}
    <p><strong>Overview:</strong> {{movieFromApi.overview}}</p>
  {{/if}}
  {{#if movieFromApi.release_date}}
    <p><strong>Release date:</strong> {{movieFromApi.release_date}}</p>
  {{/if}}
  </div>
  </div>
</div>

<div id="movie-chat" data-movie-id="{{movieFromApi.id}}">
        <h3 class="movie-titles">Chat about this movie</h3>
  <div class="movie-chat-messages">
  </div>
  <form action="#" id="message-form">
    <div class="mb-3">
    <input class="form-control chat-text-input" type="textarea" name="chatText" id="">
    <input type="hidden" name="username" value="{{user.username}}">
    </div>
    <button class="btn add-btn send-message-btn" type="submit">Send</button>
  </form>
</div>

<div id="movie-details-right-wing">
  <h3 class="movie-titles">Who else likes this movie?</h3>
  <div id="movie-details-connections">
  <ul class="list-group list-group-flush">
    {{#each followedUsers}}
      {{#if isFriend}}
        <li class="list-group-item list-of-users">
          <div id="movie-details-users">
          <img
            src="{{this.profilePic}}"
            alt="{{this.username}}'s profile picture"
            width="50"
          />
          {{this.username}}
          </div>
          {{#if isFollowed}}
            <button
              type="button"
              class="btn btn-secondary follow-btn"
              id="{{this._id}}"
              disabled
            >Following</button>
          {{else}}
            <form action="/movie-list/{{../movieFromApi.id}}" method="POST">
              <input type="hidden" name="user" value="{{this._id}}" />
              <button
                type="submit"
                class="btn btn-secondary follow-btn"
                id="{{this._id}}"
              >Follow</button>
            </form>
          {{/if}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
  </div>
</div>
</div>