<h1>These are your movies!</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Your Choice</th>
      <th scope="col">Rank or Alternative Activity</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
      <tr>
        <th scope="row"><img
            src="{{this.image}}"
            alt="{{this.title}} poster"
            width="100"
          /></th>
        <td>
          {{this.title}}
          <br />
          <a href="/movie-list/{{this._id}}<">See More</a>
        </td>
        <td>{{this.genre}}</td>
        <td>{{this.decision}}</td>
        <td>
          {{#ifEquals this.decision "Watch"}}
            <form action="/movie-list" method="POST">
              <input type="hidden" name="movieId" value="{{this._id}}" />
              <select
                class="select-rank"
                id="edit-rank-{{this._id}}"
                name="rank"
              >
                <option value="{{this.rank}}" selected>{{this.rank}}</option>
                <option value="Haven't watched it yet">Haven't watched it yet</option>
                <option value="1 Star">1 Star</option>
                <option value="2 Stars">2 Stars</option>
                <option value="3 Stars">3 Stars</option>
                <option value="4 Stars">4 Stars</option>
                <option value="5 Stars">5 Stars</option>
              </select>
              <img
                src="images/edit-logo-yellow.jpg"
                class="edit-rank"
                id="{{this._id}}"
                alt="Edit"
                width="25"
              />
              <button type="submit">
                <img
                  src="images/save-logo-yellow.jpg"
                  id="save-rank"
                  alt="Save"
                  width="25"
                />
              </button>
            </form>
          {{else}}
            <form action="/movie-list" method="POST">
              <input type="hidden" name="movieId" value="{{this._id}}" />
              <select
                class="select-alternative"
                id="edit-alternative-{{this._id}}"
                name="alternative"
              >
                <option
                  value="{{this.alternative}} selected"
                >{{this.alternative}}</option>
                {{#each alternativeOptions.interests}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
              <img
                src="images/edit-logo-yellow.jpg"
                class="edit-alternative"
                id="{{this._id}}"
                alt="Edit"
                width="25"
              />
              <button type="submit">
                <img
                  src="images/save-logo-yellow.jpg"
                  id="save-alternative"
                  alt="Save"
                  width="25"
                />
              </button>
            </form>
          {{/ifEquals}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>