<h1>Start choosing which movies you want to watch!</h1>

<!-- Nav tabs -->
<div class="card text-center w-50">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >Movie Cover</button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile"
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >Details</button>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content card-body">
      <div
        class="tab-pane active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <img
          src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{movie.poster_path}}"
          alt="{{movie.title}} poster picture"
        />
      </div>
      <div
        class="tab-pane"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">{{movie.overview}}</p>
      </div>
    </div>
  </div>
</div>

    <!-- Post form -->
<div class="btn-group" role="group" aria-label="Movie Decision">
  <form action="/random-movie" method="POST" >
    <input type="hidden" name="title" value="{{movie.title}}"></input>
    <input type="hidden" name="image" value="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{movie.poster_path}}"></input>
    <input type="hidden" name="movieId" value="{{movie.id}}"></input>
    <button type="submit" name="decision" value="Watch" class="btn btn-warning">Watch</button>
    <button type="submit" name="decision" value="Chill" class="btn btn-secondary">Chill</button>
  </form>
</div>