<div id="random-movie-view">
  <h3 id="random-movie-title">Start choosing which movies you want to watch!</h3>
  <div id="random-movie-container">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      {{#if movie.poster_path}}
        <img
          src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{movie.poster_path}}"
          alt="{{movie.title}} poster picture"
          width="300"
          height="450"
        />
        {{/if}}
    </div>
    <div class="flip-card-back">
      <div class="card random-card">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.overview}} </p>
          <ul class="list-group list-group-flush">
            {{#each movie.genre_names}}
            <li class="list-group-item">{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn-group random-movie-form" role="group" aria-label="Movie Decision">
  <form action="/random-movie" method="POST" >
    <input type="hidden" name="title" value="{{movie.title}}"></input>
    <input type="hidden" name="image" value="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{movie.poster_path}}"></input>
    <input type="hidden" name="movieId" value="{{movie.id}}"></input>
    <select name="genre" multiple hidden>
     {{#each movie.genre_names}}
    <option value="{{this}}" selected></option>
      {{/each}} 
    </select>
    <div id="random-movie-decision-btns">
    <button type="submit" name="decision" value="Watch" id="watch-btn" class="btn btn-warning btn-lg">Watch</button>
    <button type="submit" name="decision" value="Chill" id="chill-btn" class="btn btn-secondary btn-lg">Chill</button>
    </div>
  </form>
</div>
</div>
</div>